.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
www/maps/5_Ct_2010_Da.tif
www/maps/TZA_popmap10adj_v2b.tif
www/maps/gadm36_BGD_3_sp.rds
www/maps/gadm36_LBR_3_sp.rds
www/maps/gadm36_TZA_3_sp.rds
www/maps/gadm36_ZAF_3_sp.rds
www/maps/gadm36_JOR_2_sp.rds
www/maps/gadm36_PHL_3_sp.rds
maps
maps/maps.R
maps/survey_area
maps/survey_area.zip
maps/tza_water_areas_dcw
maps/TZA_popmap10adj_v2b.tif
maps/gadm36_TZA_3_sp.rds
www/reports
tanzania/Tanzania_Village_EA_2002_region
tanzania/villages_tza.gpkg
Jordan.dbf
Jordan.prj
Jordan.sbn
Jordan.sbx
Jordan.shp
Jordan.shp.xml
Jordan.shx
Metadata.pdf
gadm36_JOR_2_sp.rds
