.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
www/maps
maps/maps.R
maps/survey_area
maps/survey_area.zip
maps/tza_water_areas_dcw
maps/TZA_popmap10adj_v2b.tif
maps/gadm36_TZA_3_sp.rds
www/reports
tanzania/Tanzania_Village_EA_2002_region
tanzania/villages_tza.gpkg
