Jordan_Shapefile.zip
hotosm_jor_populated_places.gpkg
hotosm_jor_populated_places_points_shp
hotosm_jor_populated_places_polygons_shp
jordan_ppl.gpkg
jordan_ppl_points.gpkg
jordan_ppl_pop.csv
intersection.gpkg
jordan_study_area.gpkg
Livestock Data - WardsGIS
Livestock Data - WardsGIS.zip
Northern TZ 2012 Wards Shapefiles
Northern TZ 2012 Wards Shapefiles.zip
tanzania.R
